body {
	background-image:url("../images/bg-bg-usethis.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	margin:0;
	height:1150px;
}

/************** NAVIGATION **************/

#header {
	background-color:rgba(237,224,210,0.4);
	height:70px;
	width:100%;
	font-family: "pt-sans";
	box-sizing: border-box;
	margin:0 auto;
	font-size:17px;
}


#header p {
	display:inline-block;
	font-family: "filosofia";
	font-size:22px;
	position: absolute;
	padding-left: 30px;
}

#header a {
	text-decoration: none;
	color:rgb(15,16,17);
}

#nav {
	text-align: center;
	padding: 23px 0 0 0;
	margin:0 auto;
}

#nav li {
	padding: 0 50px 0 50px;
	display:inline;
}

#nav a {
	text-decoration:none;
	color:rgb(117,109,106);
}

#nav a:hover {	
	color:rgb(15,16,17);
}


/************** COPY **************/

div {
	width:500px;
	margin:auto;
	margin-top:60px;
	position:center;
}

h1 {
	font-family:"filosofia";
	font-size:50px;
	font-weight:300;
	color:#211f1d;
}

p {
	font-family:"pt-sans";
	font-size:15px;
	color:#211f1d;
}

/************** RESPONSIVE **************/

@media screen and (max-width:900px) {
	#header #nav {
			text-align:right;
		}

	#nav li {
			padding: 0 25px 0 25px;
		}
}

@media screen and (max-width:650px) {
	#header {
		height:100px;
	}

	#header #nav {
		padding: 65px 0 0 0;
		text-align:left;
		font-size:15px;
		padding-left:10px;
	}

	#nav li {
		padding: 0 20px 0 20px;
	}
}

@media screen and (max-width:510px) {
	div {
		width:300px;
	}

	h1 {
		font-size: 40px;
	}

	body {
		height:1350px;
	}
}


