body {
	background-image:url("../images/analysis-bg.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	margin:0;
	height:1480px;
}

/************** NAVIGATION **************/

#header {
	background-color:rgba(237,224,210,0.4);
	height:70px;
	width:100%;
	font-family: "pt-sans";
	box-sizing: border-box;
	margin:0 auto;
	font-size:17px;
	padding-left:30px;
}


#header p {
	display:inline-block;
	font-family: "filosofia";
	font-size:22px;
}

#header a {
	text-decoration: none;
	color:rgb(15,16,17);
}

#header #nav {
	text-align:center;
	margin:0 auto;
	display:inline;
	position:relative;
	padding-left:16%;
}

#nav li {
	padding-right:80px;
	display:inline;
}

#nav a {
	text-decoration:none;
	color:rgb(117,109,106);
}

#nav a:hover {	
	color:rgb(15,16,17);
}

/************** COPY **************/

div.column_container {
	margin:0 auto;
	position:center;
	box-sizing:border-box;
}

h1 {
	font-family:"filosofia";
	font-size:50px;
	font-weight:300;
	color:#211f1d;
	margin:0 auto;
	margin-top:50px;
	text-align:left;
	margin-bottom:20px;
}

p {
	font-family:"pt-sans";
	font-size:15px;
	color:#211f1d;
}

.question {
	display:inline-table;
	width:200px;
	margin-right:10px;
}

.question p {
	font-style:italic;
}

.answer {
	display:inline-table;
	width:480px;
}

ol {
	font-family:"pt-sans";
	font-size:15px;
	color:#211f1d;
}

/************** RESPONSIVE **************/

@media screen and (min-width:900px) {
	div.column_container {
	width:700px;
	}

	h1 {
	width:700px;
	}
}


@media screen and (max-width:900px) {
	#header #nav {
		padding-left:8%;
	}

	#nav li {
		padding-right:50px;
	}

	div.column_container {
		width:700px;
	}
}

@media screen and (max-width:760px) {
	#nav li {
			padding-right:30px;
		}

	#header #nav {
		font-size:15px;
		padding-left:10%;
	}

	#qna {
		width:500px;
		margin:0 auto;
	}

	h1 {
		font-size:40px;
	}

	p {
		font-size:13px;
	}

	ol {
		font-size:13px;
	}

	.question {
		width:150px;
	}

	.answer {
		width:300px;
	}

	body {
		height:1700px;
	}
}

@media screen and (max-width:650px) {
	#header {
		height:100px;
		width:100%;
	}

	#header #nav {
		display:block;
		padding-left:0px;
		margin-top:-5px;
		text-align:left;
	}
}

@media screen and (max-width:510px) {
	h1 {
		font-size:30px;
	}

	#qna {
		width:320px;
		margin:0 auto;
	}

	.question {
		width:100px;
	}

	.answer {
		width:210px;
	}

	body {
		height:2250px;
	}
}






