body {
	text-align:center;
	background-color: #e6b3e6;
	font-family: 'Open Sans', sans-serif;
	color:  #4d194d;
	font-size:15px;
	font-weight:300;

}

h1 {
	font-family: 'Codystar', cursive;
	color:#00334d;
	font-size:300%;
}

span.reg {
	font-weight: 400;
}