div {
	color: red;
}

div p {		/* Selects ONLY a paragraph that is inside a DIV */
	font-size: 20px;
}

div p.green:first-child {	/* so only the first child will be a diff style. pseudoselector */
	font-size: 24px;	/* selects first child that IS a paragraph */
}

div p.green:first-child:before {	/* Paragraph with a class of green that is the first child of DIV */
	content: "My extra sentence.";	/* inserts extra content first before anything else in the paragraph */
	font-weight: bold;	/* you'd use this instead of inserting into HTML for like if you want a special character after each element in a list. Don't wannt copy and paste tag so many times. */

}

header {
	font-weight: bold;
}


div :last-child { /* selects any last child of the div */

}

span {
	color: blue;
}

div > .green {	/* Instead of the class ".green {}", can do this so only children of the div get this green class. So span will not be green since it's a grandchild */
	color: green;
}

div + .green {	/* adjacent children */

}

/* .green {color:green;}. HTML tag is <p class="green">. */

div:hover {	/* pseudo-selector */
	background-color: orange;
}

a {		/* amchor. */
	color: purple;
	text-decoration: none;	/* don't want underline */
}

a:hover {	/* pseudo-selector */
	color: pink;
	text-decoration: underline;
}

a:visited {
	background-color: grey;
}