body {
	background-image:url("../images/love-web.jpg");
	background-size:cover;
	background-repeat:no-repeat;
}

p {
	font-family:futura, sans-serif;
	color:white;
	font-weight:200;
	font-style:italic;
	margin-top:10%;
	margin-right:10%;
	margin-left:55%;
	font-size:1.5em;
}

@media screen and (max-width:375px) {
	p {
		background-size:cover;
		height:667px;
		background-position: absolute;
		font-size:1em;
	}
}